@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --c-blue: #032541;
  --c-light-blue: #024162;
  --f-family: "Roboto", sans-serif;
}

body {
  font-family: var(--f-family);
}

.text-blue {
  color: var(--c-blue);
}

.bg-blue {
  background-color: var(--c-blue);
}

.bg-light-blue {
  background-color: var(--c-light-blue);
}

.search-dropdown {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.movies-wrapper {
  overflow-y: hidden;
  overflow-x: auto;
  gap: 0 20px;
}

.cover {
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}

.portal-modal {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 800px;
  max-width: 90%;
  background-color: var(--c-blue);
  z-index: 2;
}

.cursor-pointer {
  cursor: pointer;
}
